.hero__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    color: #FFFFFF;
    margin: 0;
    display: block;
  }

  @media screen and (max-width: 500px) {
    .hero__subtitle {
      font-size: 0.8rem;
      line-height: 1rem;
      text-align: center;
    }
  }
