.progress-bar_ux-research::before {
  content: '';
  background-color: #C66C49;
  height: 24px;
  width: 381px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1252px) {
  .progress-bar_ux-research::before  {
    height: 25px;
    width: 281px;
  }
}

@media screen and (max-width: 768px) {
  .progress-bar_ux-research::before  {
    width: 180px;
  }
}

@media screen and (max-width: 400px) {
  .progress-bar_ux-research::before {
    height: 18px;
  }
}
