.hero__works {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.375rem;
    text-decoration-line: underline;
    margin-top: 6.625rem;
    display: block;
  }

  .hero__works:hover {
    opacity: 0.4;
    transition: 1s linear;
  }

  @media screen and (max-width: 500px) {
    .hero__works {
      font-size: 0.8rem;
      line-height: 1rem;
      text-align: center;
      padding-bottom: 3.125rem;
      margin-top: 2.5rem;
    }
  }
