.hero__logo {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    color: #FFFFFF;
    margin-top: 5.8125rem;
    margin-bottom: 0;

  }

  @media screen and (max-width: 500px) {
    .hero__logo {
      text-align: center;
      margin-top: 2.3rem;
    }
  }
