.footer__item {
  margin-right: 35%;
}

.footer__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1052px) {
  .footer__item:last-child {
    padding-top: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .footer__item {
    margin-right: 29%;
  }
}

@media screen and (max-width: 400px) {
  .footer__item {
    margin-right: 20%;
  }
}
