@import url(./__paragraph/about__paragraph.css);
@import url(./__text/about__text.css);

.about {
    margin: 0 auto;
    padding-bottom: 7.1875rem;
  }

  @media screen and (max-width: 1052px) {
    .about {
      padding-bottom: 3rem;
    }
  }


  @media screen and (max-width: 500px) {
    .about {
      padding-bottom: 0.5rem;
    }
  }
