.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

@media screen and (max-width: 768px) {
  .footer__list {
    font-size: 0.875rem;
    line-height: 1.1875rem;
  }
}
