.about__paragraph {
  margin: 0 auto;
  padding-top: 4.75rem;
}

@media screen and (max-width: 1052px) {
  .about__paragraph {
    padding-top: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .about__paragraph {
    padding-top: 1.1875rem;
  }
}
